@media (max-width:767px){
    body{
        line-height: 1;
        letter-spacing: 0.5px;

    }
    .header {
        
        background-image: url(../photos/bgc-mobile.jpg);
        

    }
    .header__title {
        font-size: 16px;
    }
    .header__text{
        font-size: 10px;
        margin: 5px 0 7px 0;
    }
    .header__btn{
        margin: 5px;
        padding: 7px 22px;
        border-radius: 30px;        
        box-shadow: 0 0 10px #eee;
    }
    .main-h__container {
        padding: 10px 0;
    }
    .main-h__title {
        font-size:1.2rem;
        margin-bottom: 10px;
    }
    .main-h__text-box{
        display: flex;
        flex-direction: column;
        width: 100%;

    }
    
    .main-h__text {
        font-size: 15px;
        width: 90%;
        margin: 5px 0 7px 0;
    }
    .main-m{
        padding: 1.5rem 0;
    }
    .main-m__item{
        margin-bottom: 15px;
    }

    .main-m__img{
        margin: 0 auto;
        width:90%;
        /* height: 150px; */
    }
    .m__container{
        flex-direction: column;
    }
    .main-__wrapper {
        width: 150px;
        height: 100px;
    }
    .main-__wrapper {
        width: 90%;
        height: 160px;
    }
    .wrapper-title {
        font-size:1.5rem;
        margin: 0.31rem; 
    }
    .wrapper-text:not(:last-child){
        margin-bottom: 15px;
    }
    .wrapper-text{
        padding: auto;
        width: 90%;
        font-size: 18px;
        
    }
    .main-c__title {
        margin: 10px 0;
    }
    .main-c__text {
        margin-bottom: 30px;
    }
    .other-color{
        padding-top: 10px;
    }
    .footer__title {
        font-size: 12px;
        margin: 10px;
    }
    .footer__info {
        margin: 12.5px;
    }
    .copyright{
        margin: 10px 0;
        font-family:sans-serif;
        background-color: #fff;
    }
    /* social networks */
    .social-media {
        padding-top: 10px;
    }
    .social {
        font-size: 20px;
        margin-right: 10px ;
        
    }
    


    }

@media (min-width:768px) and (max-width:1024px){
    body{
        line-height: 1;
        letter-spacing: 0.7px;

    }
    .header__title {
        font-size: 32px;
    }
    .header__text{
        font-size: 12px;
        margin: 7px 0 10px 0;
    }
    .header__btn{
        margin: 7px;
        padding: 10px 38px;
        box-shadow: 0 0 15px #eee;
        border-radius: 40px;
    }
    .main-h__container {
        padding: 15px 0;
    }
    .main-h__title {
        font-size: 1.1rem;
        margin-bottom: 15px;
    }
    .main-h__text {
        margin: 7px 0 10px 0;
    }
    .main-m{
        padding: 2.8rem 0;
    }
    
    .main-m__img{
        margin: 0 auto;
        width: 90%;
        /* height: 200px; */
    }
    .main-__wrapper {
        width: 70%;
        height: 180px;
    }
    .main-__wrapper:not(:last-child){
        margin-bottom:15px;
    }
    
    .wrapper-title {
        font-size:4rem;
        margin: 0.425rem;  
    }
    .wrapper-text {
        padding: auto;
        width: 70%;
        font-size: 30px;
    }
    .main-c__title {
        margin: 15px 0;
    }
    .main-c__text {
        margin-bottom: 50px;
    }
    .other-color{
        padding-top: 15px;
    }
    .footer__title {
        font-size: 19px;
        margin: 15px;
    }
    .footer__info {
        margin: 19px;
    }
    .copyright{
        margin: 15px 0;
    }
    /* social networks */
    .social-media {
        padding-top: 15px;
    }
    .social {
        font-size: 30px;
        margin-right: 15px ;
        
    }
    

}